head
	title Check Wheat!
	link(rel="apple-touch-icon" sizes="180x180" href="../assets/fav/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="../assets/fav/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="../assets/fav/favicon-16x16.png")
	link( href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
	link(rel="stylesheet" href="../sass/main.sass")